# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
!/.idea/
!/LOG_PATH_IS_UNDEFINED/
!/xiche.iml
!/.idea/
!/LOG_PATH_IS_UNDEFINED/
!/xiche.iml
