<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.xiche.dao.AccountFlowMapper" >
  <resultMap id="BaseResultMap" type="com.web.xiche.po.AccountFlow" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="customerId" property="customerid" jdbcType="BIGINT" />
    <result column="projectId" property="projectid" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.web.xiche.po.AccountFlow" >
    insert into accountflow (id, customerId, projectId, 
      type, status, createTime)
    values (#{id,jdbcType=BIGINT}, #{customerid,jdbcType=BIGINT}, #{projectid,jdbcType=BIGINT}, 
      #{type,jdbcType=BIT}, #{status,jdbcType=BIT}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.web.xiche.po.AccountFlow" >
    insert into accountflow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerid != null" >
        customerId,
      </if>
      <if test="projectid != null" >
        projectId,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerid != null" >
        #{customerid,jdbcType=BIGINT},
      </if>
      <if test="projectid != null" >
        #{projectid,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>