<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.xiche.dao.AccountFlowMapper" >
  <resultMap id="BaseResultMap" type="com.web.xiche.po.AccountFlow" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="customerId" property="customerid" jdbcType="BIGINT" />
    <result column="projectId" property="projectid" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="balance" property="balance" jdbcType="DOUBLE" />
    <result column="projectName" property="projectName" jdbcType="VARCHAR" />
    
  </resultMap>
  <insert id="insert" parameterType="com.web.xiche.po.AccountFlow" >
    insert into accountflow (id, customerId, projectId, 
      type, status, createTime)
    values (#{id,jdbcType=BIGINT}, #{customerid,jdbcType=BIGINT}, #{projectid,jdbcType=BIGINT}, 
      #{type,jdbcType=BIT}, #{status,jdbcType=BIT}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.web.xiche.po.AccountFlow" >
    insert into accountflow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerid != null" >
        customerId,
      </if>
      <if test="projectid != null" >
        projectId,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="balance != null" >
        balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerid != null" >
        #{customerid,jdbcType=BIGINT},
      </if>
      <if test="projectid != null" >
        #{projectid,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="balance != null" >
        #{balance},
      </if>
    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.web.xiche.po.AccountFlow" >
    update accountflow
    <set >
      <if test="customerid != null" >
       customerid =  #{customerid,jdbcType=BIGINT},
      </if>
      <if test="projectid != null" >
       projectid =  #{projectid,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
       type = #{type,jdbcType=BIT},
      </if>
      <if test="status != null" >
       status =  #{status,jdbcType=BIT},
      </if>
      <if test="createtime != null" >
       createtime =  #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="balance != null" >
        balance = #{balance},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="findPage" resultMap="BaseResultMap"  >
    select 
     o.id,
     o.customerId,
     o.balance,
     o.projectId,
     o.type,
     o.status,
     o.createTime,
     (select a.name from project a where a.id = o.projectId) as projectName 
    from accountflow o 
    where 1 = 1
     <if test="customerid != null" >
       and o.customerId = #{customerid}
     </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
     *
    from accountflow o 
    where o.id = #{id,jdbcType=INTEGER}
  </select>
</mapper>